@font-face {
    font-family: 'LemonMilk';
    src: url("../images/fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url("../images/fonts/LouisGeorgeCafe.ttf") format("truetype");
}
