body {
    background: #faa6fb;
    color: #6ab0a7;
    font-family: 'LemonMilk', sans-serif;
    font-size: 2rem;
}

.center {
    padding: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #b062b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.center-price {
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    max-width: 95%;
    max-height: 95%;
}

#qrbox {
    display: flex;
    justify-content: space-around;
}

#qrCode {
    width: 10%;
}

#title {
    margin: 0.5em;
}

#comment {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.centered {
    text-align: center;
}

.large {
    font-size: 1.5em;
}

.flex {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    align-items: center;
}

.p-0 {
    padding: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-1-2 {
    padding-bottom: 0.5em;
}

label {
    color: #b062b3;
}

input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em;
    border: 2px solid #b062b3;
}

input[type="submit"] {
    background: #faa6fb;
    color: #b062b3;

}

input[type="text"] {
    color: #b062b3;
    background-color: #FFFFFF;
    font-size: inherit;
    max-width: -webkit-fill-available;
}

#index {
    width: 13em;
    background: #6ab0a7;
    color: #faa6fb;
}

#error {
    display: none;
    padding: 0.5em;
}

#final {
    display: none;
    text-align: center;
}

#countdown {
    display: none;
    width: 10em;
    height: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    text-align: center;
    color: #6ab0a7;
}

.verse {
    text-align: center;
    color: #6ab0a7;
}

#packinglist {
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-size: 1.5rem;
}

#loader {
    border: 16px solid #FFFFFF; /* Light grey */
    border-top: 16px solid #6ab0a7;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.hide {
    display: none;
}

#packinglist-link a, a,
#packinglist-link a:active,
#packinglist-link a:focus,
#packinglist-link a:hover,
#packinglist-link a:visited {
    color: #6ab0a7;
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.price-body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.price-content {
    width: inherit;
}

.img-price {
    width: 100%;
}

